

body {
    display: block;
    background-color: #000000;
    width: 100%;
    margin: auto;
}

#main {
    width: 80%;
    margin: auto;
}
#logocontainer{
        width: 100%;
    }
#imgwrap{
    width:100%;
    display: inline-block;
    float: left;
}
#logo {
    display: inline-block;
    float: left;
    width: 800px;
    margin-left:100px;
}
#about{
    display: inline-block;
    float: left;
    width: 25%;
    height:670px;
    margin-right:35px;
    padding-left:8%;
}


#wrapper{
    position:fixed;
    min-width:100%;
    top:25%;
    margin:auto;
}

#howitworks {

    display: inline-block;
    float: left;
    width: 25%;
    height:670px;

    margin-right: 35px;
}


#gettingstarted{

    display: inline-block;
    float:right;
    padding: 0 70px 0 30px;
    margin-right:0;
    width: 25%;
    height:670px;
    background-color: #ffffff;


}


h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #CBD1EF;
}
p {
    font-family: 'Raleway',sans-serif;
    padding-bottom:0;
    margin:0;
    font-weight:200;
    line-height:1.6em;
    font-size:14px;
    color:#5E7398;
}


h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #880e4f;
}
h5 {
    font-family: 'Raleway',sans-serif;
    font-weight:800;
    line-height:1.6em;
    font-size:22px;
    padding:0;
    margin:6px 0 6px 0 ;
    color:#880e4f;
}