body, html {
    height:100%;
    overflow: hidden;
    margin: auto;
}
body {

    margin: auto;
    cursor: default;

}
#canvas {
    padding: 0;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    background: #ffffff;



}
/*#canvas2 {*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*margin:0;*/
    /*display: block;*/
    /*-webkit-transition: 1s ease-in;*/
    /*-moz-transition: 1s ease-in;*/
    /*-o-transition: 1s ease-in;*/
    /*background: rgba(0,0,0,0);*/

/*}*/
/*#canvas2:hover {*/
    /*opacity:1;*/
    /*-webkit-transition: 1s ease-in;*/
    /*-moz-transition: 1s ease-in;*/
    /*-o-transition: 1s ease-in;*/

/*}*/
/*#canvas2 {*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*margin:0;*/
    /*display: block;*/
    /*background-color: rgba(0,0,0,0)*/
/*}*/
/*}*/
/*canvas:hover {*/

    /*animation: pulse 30s infinite;*/
/*}*/

/*@keyframes pulse {*/
    /*0% {*/
        /*background-color: #000000;*/
    /*}*/
    /*10% {*/
        /*background-color: #331122;*/
    /*}*/
    /*20% {*/
        /*background-color: #111111;*/
    /*}*/
    /*30% {*/
        /*background-color: #0097A7;*/
    /*}*/
    /*30% {*/
        /*background-color: #331122;*/
    /*}*/
    /*50% {*/
        /*background-color: #000000;*/
    /*}*/
    /*60% {*/
        /*background-color: #331122;*/
    /*}*/
    /*70% {*/
        /*background-color: #004D40;*/
    /*}*/
    /*80% {*/
    /*}*/

    /*90% {*/
        /*background-color: #37474F;*/
    /*}*/
    /*100% {*/
        /*background-color: #000000;*/
    /*}*/
/*}*/


/*#stage {*/
    /*background-color: #ffffff;*/
/*}*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
#toolbar {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #000000;
}
.radcontrol {
    cursor: hand;
    float: left;
    display: block;
    background-color: #000000;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    border: 2px solid #ffffff;
}
#rad {
    color: #ffffff;
    font-size: 20px;

}
#spacer {
    width: 50px;
    display: inline-block;
    float: left;
}
#wrapper {
    float: left;
    display: inline-block;
    margin-top: 23px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0 0 20px 0;
}
.wrapper {
    float: left;
    display: inline-block;

}


.radcontrol:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #263238;
}

#colors {
    float: left;
    display: inline-block;
    margin: 0 20px 0 20px;
    padding: 0 0 20px 20px;
    background-color: #000000;
    height: 80px;
}
#swatchspacer {
    display: inline-block;
    width: 50px;
}
.swatch {
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #ffffff;
}
.swatch.active {
    border: 2px solid #ffffff;
}
.liner {
    display: inline-block;
    width: 1px;
    height: 30px;
    border-left: 1px solid #ffffff;
    margin-top: 10px;
}

#blue {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #ffffff;

    margin-top: 15px;
    margin-right: 15px;
    background-color: #1DE9B6;
}
#blue:hover {
    border: 3px solid #ffffff;
}

#teal {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #ffffff;

    margin-top: 15px;
    margin-right: 15px;
    background-color: #00897B;
}
#teal:hover {
    border: 1px solid #ffffff;
}
#teal:hover {
    border: 3px solid #ffffff;
}

#red {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    stroke: none;
    border: 2px solid #ffffff;

    margin-top: 15px;
    margin-right: 15px;
    background-color: #f50057;

}

#red:hover {
    border: 3px solid #ffffff;
}
#indigo{
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #ffffff;

    margin-top: 15px;
    margin-right: 15px;
     background-color:#1565C0;

 }
#indigo:hover {
    border: 3px solid #ffffff;
}
#yellow{
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #ffffff;

    stroke: none;
    margin-top: 15px;
    margin-right: 15px;
    background-color:#880E4F;

}
#yellow:hover {
    border: 3px solid #ffffff;
}
#slate{
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    stroke: none;
    border: 2px solid #ffffff;

    margin-top: 15px;
    margin-right: 15px;
    background-color:#546E7A;

}
#slate:hover {
    border: 3px solid #ffffff;
}
#white{
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    stroke: none;
    margin-top: 15px;
    border: 2px solid #ffffff;

    margin-right: 15px;
    background-color:#ffffff;

}
#white:hover {
    border: 3px solid #ffffff;
}
#black {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    stroke: none;
    margin-top: 15px;
    border: 2px solid #ffffff;

    margin-right: 15px;
    background-color: #000000;
}
#black:hover {
    border: 3px solid #ffffff;
}
#white:hover {
    border: 1px solid #ffffff;
}
#clearCanvas {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: none;
    stroke: none;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #ffffff;
}
input {
    float: left;
    display: inline-block;

    padding: 10px;
    margin: 20px;
}
.button:active {
    outline: 1px solid #ffffff;
    round-clip: 15px;


}
#clear {
    display: inline-block;
    float: left;
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 1px 4px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    width: 36px;
    height: 36px;
    border-radius: 0;
    stroke: none;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}
#clear:hover {
    display: inline-block;
    float: left;
    background-color: #ffffff;
    border: 1pt solid #ffffff;
    color: #263238;
}


#bar_create {
    display: inline-block;
    float:right;
    padding: 0;
    opacity: 1;
    margin-top: 3px;
    margin-right: 10px;


}
#bar_create:hover {
    opacity: 0.5;
}
#bar_info {
    display: inline-block;
    padding-bottom: 15px;
    margin-top: 3px;
    margin-right: 10px;

    float:right;
    opacity: 1;

}

#bar_info:hover {
    opacity: 0.5;

}
#bar_save{
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 0;
    margin-right: -30px;
    margin-top: 3px;
    float:right;
    opacity: 1;

}

#bar_save:hover {
    opacity: 0.5;

}
audio {
    position: fixed;
          top: 50%;
    background-color: #95B9C7;


    height:200px;
}

#fileInput{
    opacity:0;
    width:10px;
    float:right;
    display: inline-block;
    margin-top: 3px;
    margin-right: 10px;
    padding: 0;
    background: none;

}

.percussion1 {
    display: inline-block;
    width: 85px;
    float: left;
    background-color: #000000;
    border: 1px solid #ffffff;
    margin-left: 0;
    margin-top: 15px;
    padding: 8px 10px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight:bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
}
.percussion1:hover {
    display: inline-block;
    float: left;
    background-color: #ffffff;
    border: 1pt solid #ffffff;
    color: #263238;
}
.effects1 {
    display: inline-block;
    width: 85px;
    float: left;
    background-color: #000000;
    border: 1px solid #ffffff;
    margin-left: 0;
    margin-top: 15px;
    padding: 8px 10px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight:bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
}
.effects1:hover {
    display: inline-block;
    float: left;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #263238;
}
* {
    box-sizing: border-box;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}