#main {
    width: 800px;
}
@media screen and (min-width: 600px) {
}
    #main_container {
    float: left;
    background-color: #d9ad64;}

@media screen and (min-width: 600px) {
}
    #main_container {
    float: left;
    background-color: #d9ad64;


}


    .fre_feb {
	float: left;
	height: 28px;
	width: 144px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-align: left;
	padding-top: 2px;
	letter-spacing: 3px;
	padding-left: 16px;
	background-color: #CC0000;
}
#top_box2 {
	float: left;
	height: 32px;
	width: 169px;
	padding-left: 10px;
	padding-top: 20px;
}
#archi_box {
    float: left;
    height: 46px;
    width: 603px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 46px;
    color: #000000;
    padding-top: 170px;
    padding-left: 16px;
    margin: 0px;
    letter-spacing: 1px;
}


#26_box {
	float: left;
	height: 128px;
	width: 179px;
}
#februar {
	float: right;
	height: 30px;
	width: 169px;
	padding-left: 10px;
	padding-top: 5px;
}
#lichtbilder {
	float: left;
	height: 24px;
	width: 610px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	line-height: 32px;
	letter-spacing: 1px;
	padding-left: 10px;
	margin-top: 10px;
}
#vortrag_graphic {
	float: left;
	height: 92px;
	width: 354px;
	padding-left: 266px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	font-size: 18px;
	padding-top: 70px;
	letter-spacing: 1px;
	background-image: url(dot2.jpg);
	background-repeat: no-repeat;
	background-position: 235px 1px;
}
#text_rules {
	float: right;
	height: 116px;
	width: 163px;
	padding-right: 15px;
}
#text_rules2 {
	float: right;
	height: 82px;
	width: 178px;
}
#prof_poelzig {
	float: left;
	height: 168px;
	width: 621px;
	margin-top: 0px;
}
#bottom_right {
	float: left;
	height: 90px;
	width: 179px;
	padding-top: 70px;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120px;
	font-weight: bold;
	color: #000000;
	letter-spacing: -12px;
	line-height: 90px;
	margin-left: -8px;
}
h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 70px;
	color: #000000;
	line-height: 136px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000000;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	margin-top: 5px;
	margin-bottom: 6px;
	padding-bottom: 8px;
	text-align: justify;
	font-weight: normal;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	color: #CC0000;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #CC0000;
	margin-top: 12px;
	padding-bottom: 3px;
	line-height: 18px;
	margin-right: 12px;
	letter-spacing: 1px;
	margin-left: 6px;
	font-weight: lighter;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: lighter;
	color: #000000;
	text-transform: uppercase;
	margin-left: 20px;
	margin-top: 40px;
	letter-spacing: 1px;
}
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #000000;
	margin-left: 10px;
	margin-top: 0px;
	line-height: 10px;
}


