@media screen and (max-width: 2000px) {
  #bostonblog {
    display: none;
  }
  #boston {
    position: relative;
    display: inline-block;

  }
  #entrywrap {
    position: absolute;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  #bostonblog {
    display: inline-block;
  }
  #boston {
    display: none;
  }
  #archive1 {
    display: none;
  }
  #archive2 {
    display: none;
  }
  #archive3 {
    display: none;
  }


p.cities {
  margin: auto;
  padding: 20px;
}

}