@media screen and (max-width: 1000px) {

  #bostnblog {
    display: none;

  }
  #mobilearchive {
    display: none;
  }
  #archive1 {
    display: inline-block;
  }
  #archive2 {
    display: inline-block;
  }
  #archive3 {
    display: inline-block;
  }
  @media screen and (max-width: 667px) {

    #bostonblog {
      display: inline-block;
    }

    #archive1 {
      display: none;
    }
    #archive2 {
      display: none;
    }
    #archive3 {
      display: none;
    }

    #boston {
      display: none;
    }
    .cities p {
      font-size: 15px;
      margin: 0;

    }
  }
}
