body, html {
    height:100%;
    overflow: hidden;
    margin: auto;
}
body {

    margin: auto;
    cursor: url('images/ pen.png'), default;
}

div.wrap {
    height:100%;
    overflow:hidden;
    margin: auto;


}


#topbar {
    background-color: #263238;
    width: 100%;
    height:40px;
}
#canvas {
    width: 100%;
    padding: 0;
    margin:auto;
    display: block;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    background: #40444f;
    position: absolute;
    top:0;
    left: 0;
    right:0;


}
#canvas2 {
    width: 100%;
    padding: 0;
    margin:0;
    display: block;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    background: rgba(0,0,0,0);

}
#canvas2:hover {
    opacity:1;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;

}
#canvas2 {
    width: 100%;
    padding: 0;
    margin:0;
    display: block;
    background-color: rgba(0,0,0,0)
}
/*}*/
/*canvas:hover {*/

    /*animation: pulse 30s infinite;*/
/*}*/

/*@keyframes pulse {*/
    /*0% {*/
        /*background-color: #000000;*/
    /*}*/
    /*10% {*/
        /*background-color: #331122;*/
    /*}*/
    /*20% {*/
        /*background-color: #111111;*/
    /*}*/
    /*30% {*/
        /*background-color: #0097A7;*/
    /*}*/
    /*30% {*/
        /*background-color: #331122;*/
    /*}*/
    /*50% {*/
        /*background-color: #000000;*/
    /*}*/
    /*60% {*/
        /*background-color: #331122;*/
    /*}*/
    /*70% {*/
        /*background-color: #004D40;*/
    /*}*/
    /*80% {*/
    /*}*/

    /*90% {*/
        /*background-color: #37474F;*/
    /*}*/
    /*100% {*/
        /*background-color: #000000;*/
    /*}*/
/*}*/


/*#stage {*/
    /*background-color: #ffffff;*/
/*}*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
#toolbar {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #263238;
}
.radcontrol {
    cursor: pointer;
    float: left;
    display: inline-block;
    background-color: #263238;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: 30px;
    height: 28px;
    border-radius: 14px;
    color: #9FA8DA;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: 1px solid #9FA8DA;
}
#rad {
color: #9FA8DA;
    font-size: 15px;

}
#wrapper {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.wrapper {
    float: left;
    display: inline-block;

}


.radcontrol:hover {
    border: 1pt solid #9FA8DA;
    background-color: #9FA8DA;
    color: #263238;
}

#colors {
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 0;
}
#swatchspacer {
    display: inline-block;
    width: 50px;
}
.swatch {
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.swatch.active {
    border: 2px solid #ffffff;
}
.liner {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 30px;
    border-left: 1px solid #9FA8DA;
    margin-top: 10px;
}

#blue {
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-right: 15px;
    background-color: #1DE9B6;
}
#blue:hover {
    border: 2px solid #ffffff;
}

#teal {
    float: left;

    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: inline-block;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #00897B;
}
#teal:hover {
    border: 2px solid #ffffff;
}
#teal:hover {
    border: 2px solid #ffffff;
}

#red {
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f50057;

}

#red:hover {
    border: 2px solid #ffffff;
}
#indigo{
     float: left;
     display: inline-block;
     width: 28px;
     height: 28px;
     border-radius: 14px;
     border: none;
     stroke: none;
     margin-top: 10px;
     margin-left: 15px;
     margin-right: 15px;
     background-color:#1565C0;

 }
#indigo:hover {
    border: 2px solid #ffffff;
}
#yellow{
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:#880E4F;

}
#yellow:hover {
    border: 2px solid #ffffff;
}
#slate{
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:#546E7A;

}
#slate:hover {
    border: 2px solid #ffffff;
}
#white{
    float: left;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:#ffffff;

}
#white:hover {
    border: 2px solid #ffffff;
}
#black {
    float: left;

    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: inline-block;
    border: none;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #000000;

}
#white:hover {
    border: 2px solid #ffffff;
}
#clearCanvas {
    float: left;

    width: 15px;
    background-color: #ffffff;
}
input {
    float: left;
    display: inline-block;

    padding: 10px;
    margin: 20px;
}
.button:active {
    outline: 2px solid #ffffff;
    round-clip: 15px;


}
#clear {
    display: inline-block;
    float: left;
    background-color: #263238;
    border: 1px solid #9FA8DA;
    padding: 2px 4px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size: 15px;
    letter-spacing: 1px;
    color: #9FA8DA;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    stroke: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 35px;
}
#clear:hover {
    display: inline-block;
    float: left;
    background-color: #9FA8DA;
    border: 1pt solid #9FA8DA;
    color: #263238;
}


#bar_create {
    display: inline-block;
    float:right;
    padding: 0;
    opacity: 1;
    margin-top: 3px;
    margin-right: 20px;


}
#bar_create:hover {
    opacity: 0.5;
}
#bar_info {
    display: inline-block;
    padding-bottom: 15px;
    margin-top: 3px;
    margin-right: 10px;

    float:right;
    opacity: 1;

}

#bar_info:hover {
    opacity: 0.5;

}
#bar_save{
    display: inline-block;
    padding-bottom: 15px;
    margin-right:-10px;
    margin-top: 3px;
    float:right;
    opacity: 1;

}

#bar_save:hover {
    opacity: 0.5;

}
audio {
    position: fixed;
          top: 50%;
    background-color: #95B9C7;


    height:200px;
}

#fileInput{
    opacity:0;
    width:10px;
    float:right;
    display: inline-block;
    margin-top: 3px;
    margin-right: 10px;
    padding: 0;
    background: none;

}

.percussion1 {
    display: inline-block;
    width: 65px;
    float: left;
    background-color: #263238;
    border: 1px solid #9FA8DA;
    margin-left: 0;
    margin-top: 10px;
    padding: 4px 6px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #9FA8DA;
}
.percussion1:hover {
    display: inline-block;
    float: left;
    background-color: #9FA8DA;
    border: 1pt solid #9FA8DA;
    color: #263238;
}
.effects1 {
    display: inline-block;
    width: 65px;
    float: left;
    background-color: #263238;
    border: 1px solid #9FA8DA;
    margin-left: 0;
    margin-top: 10px;
    padding: 4px 6px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #9FA8DA;
}
.effects2:hover {
    display: inline-block;
    float: left;
    background-color: #9FA8DA;
    border: 1pt solid #9FA8DA;
    color: #263238;
}